body {
    background-color: rgb(47, 47, 47);
}

.post-title {
    text-decoration: none;
}

.socials i {
    text-decoration: none;
    color: #ffc107;
}

a {
    text-decoration: none;
}

.heart {
    color: #0dcaf0;
}

h1, p, h2, h3 {
    color: white;
}