{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Posts content -->
<div class="container">
    <div class="row">
        <div class="col-md-3 p-3">
            {% if post.category.slug == 'code' %}
            <img class="card-img-top"
                src="https://res.cloudinary.com/dqhxfqvdo/image/upload/v1689020844/Code_sckmh5.jpg">
            {% elif post.category.slug == 'apps' %}
            <img class="card-img-top"
                src="https://res.cloudinary.com/dqhxfqvdo/image/upload/v1689020880/Apps_ummulq.jpg">
            {% else %}
            <img class="card-img-top"
                src="https://res.cloudinary.com/dqhxfqvdo/image/upload/v1689020796/Games_ah8sad.jpg">
            {% endif %}
        </div>
        <div class="col-md-5">
            <h2 class="text-warning">{{ post.title }}</h2>
            <p class="text-light">{{ post.author }} | {{ post.created_on }} | {{ post.category }}</p>
            <div>
                {% if user.is_authenticated %}
                {% if user.id == post.author.id %}
                <a class="btn btn-outline-danger" href="{% url 'post_delete' post.slug %}">Delete</a>
                <a class="btn btn-outline-warning" href="{% url 'post_update' post.slug %}">Edit</a>
                {% endif %}
                <form class="d-inline" action="{% url 'post_like' post.slug %}">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" class="btn" name="blogpost_id" value="{{ post.slug }}"><i
                            class="fas fa-heart heart"></i></button>
                    {% else %}
                    <button type="submit" class="btn" name="blogpost_id" value="{{ post.slug }}"><i
                            class="far fa-heart heart"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <strong class="text-info"><i class="far fa-heart heart p-1"></i></strong>
                {% endif %}
                <strong class="text-light">{{ post.number_of_likes }}</strong>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8 --bs-dark-border-subtle">
            <h5 class="text-light p-4">{{ post.content|safe }}</h5>
            <hr class="text-warning">
        </div>
        <div class="row">
            <div class="col-1">
                {% with comments.count as total_comments %}
                <strong class="text-light"><i class="far fa-comments p-1 text-info"></i>{{ total_comments }}</strong>
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col">
                <hr class="text-warning">
            </div>
        </div>
        <div>
            <div class="row">
                <div class="col-md-8 card  bg-secondary">
                    <h4 class="text-warning">Comments:</h4>
                    <div class="card-body">
                        {% for comment in comments %}
                        <div>
                            <p class="text-info">
                                {{ comment.name }}
                                <span class="">
                                    {{ comment.created_on }}
                                </span>
                            </p>
                            {{ comment.body | linebreaks }}
                            <hr class="text-warning">
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-4 mb-5 ">
                    {% if commented %}
                    <div class="alert alert-success">
                        Your comment is awaiting approval
                    </div>
                    {% else %}

                    {% if user.is_authenticated %}

                    <h3 class="text-warning">Comment:</h3>
                    <p>Post by: {{ user.username }}</p>
                    <form method="post">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                        <button class="btn btn-outline-warning ">Submit</button>
                    </form>

                    {% endif %}
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col p-5">
                        <hr class="text-warning">
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}