{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<!-- Posts content -->
<div class="container">
    <div class="row">
        <div class="col-md-3 p-3">
            {% if "placeholder" in post.featured_image.url %}
            <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
            {% else %}
            <img src=" {{ post.featured_image.url }}" width="100%">
            {% endif %}
        </div>
        <div class="col-md-5">
            <h2 class="text-light">{{ post.title }}</h2>
            <p class="text-light">{{ post.author }} | {{ post.created_on }}</p>
        </div>
        
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-10 card">
            <p class="card-text">{{ post.content | safe}}</p>
        </div>
        <div class="col-md-10 card mb-5">
            {% if user.is_authenticated %}

            <h3>Comment:</h3>
            <p>Post by: {{ user.username }}</p>
            <form method="post" >
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-outline-warning ">Submit</button>
            </form>

            {% endif %}
        </div>
    </div>
</div>

{% endblock content %}